[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=7.0.1"
cwltest = "==2.2.20211116163652"

[packages]
semver = "~=2.13.0"
gitpython = "~=3.1.0"
pyyaml = "~=6.0"
cwlref-runner = "~=1.0"
chevron = "~=0.14.0"

[requires]
python_version = "3.7"
